 /* Reset básico */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: Arial, sans-serif;
     background-color: #f3f3f3;
     /* Fondo blanco para todo el cuerpo */
     color: #333;
 }

 /* Header */
 header {
     text-align: center;
     padding: 40px 20px;
     background: rgb(225, 75, 47);
     background: linear-gradient(112deg, rgba(225, 75, 47, 1) 0%, rgba(233, 105, 74, 1) 23%, rgba(240, 134, 100, 1) 64%, rgba(248, 164, 127, 1) 84%, rgba(255, 255, 255, 1) 100%);
     color: #fff;
     height: 30vh;
 }

 header h1 {
     font-size: 2.5rem;
 }

 header p {
     font-size: 1rem;
     margin-top: 10px;
 }

 .bx-opc-in a {
     text-decoration: none;
     color: #ffffff;
 }

 .bx-wel {
     margin-top: 4%;
 }

 /* Navbar */
 .nav {
     padding: 15px 0;
     text-align: center;
     width: fit-content;
     position: absolute;
     margin: auto;
     bottom: 60%;
     left: 50%;
     transform: translateX(-50%);
 }

 .nav ul {
     display: flex;
     /* Activa Flexbox */
     flex-direction: row;
     /* Alinea los elementos en una fila */
     padding: 0;
     /* Elimina el relleno predeterminado */
     margin: 0;
     /* Elimina el margen predeterminado */
     list-style: none;
     box-shadow: 0px 6px 40px -18px rgba(0, 0, 0, 0.58);
     -webkit-box-shadow: 0px 6px 40px -18px rgba(0, 0, 0, 0.58);
     -moz-box-shadow: 0px 6px 40px -18px rgba(0, 0, 0, 0.58);
     border-radius: 10px;
     background-color: #FFF;
 }

 .nav ul li {
     margin: 0;
     padding: 0;

 }

 .nav ul li a {
     text-decoration: none;
     color: #333;
     font-weight: bold;
     padding: 10px;
     display: flex;
     transition: background-color 0.3s ease;
     height: 15vh;
     align-items: center;
     transition: 400ms all;
 }

 .nav ul li a div img {
     width: 50%;
 }

 .nav ul li a:hover {
     background-color: #FFF;
     transform: scale(1.1);
     border-radius: 6px;
     border-bottom: 6px solid rgba(225, 75, 47, 1);
     box-shadow: 0px 6px 45px -18px rgba(0, 0, 0, 0.57);
     -webkit-box-shadow: 0px 6px 45px -18px rgba(0, 0, 0, 0.57);
     -moz-box-shadow: 0px 6px 45px -18px rgba(0, 0, 0, 0.57);
 }

 .container {
     min-height: 47vh;
     margin-top: 10%;
 }

 /* Sección de Tickets */
 .tickets {
     margin: 20px 30px;
 }

 .tickets h2 {
     font-size: 1.5rem;
     margin-bottom: 20px;
 }

 .ticket {
     background-color: #f9f9f9;
     padding: 15px;
     margin-bottom: 15px;
     border-radius: 5px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

 .ticket h3 {
     font-size: 1.25rem;
     display: inline-block;
 }

 .ticket span {
     font-size: 1rem;
     color: #ff2e5b;
     font-weight: bold;
     margin-left: 10px;
 }

 .ticket p {
     font-size: 0.875rem;
     color: #777;
 }

 /* Sección de Centro de Conocimiento */
 .knowledge {
     margin: 30px 20px;
 }

 .knowledge h2 {
     font-size: 1.5rem;
     margin-bottom: 20px;
 }

 .knowledge ul {
     list-style: none;
 }

 .knowledge ul li {
     font-size: 1rem;
     margin-bottom: 10px;
 }

 .knowledge ul li a {
     text-decoration: none;
     color: #00b1c7;
     font-weight: bold;
 }

 .knowledge ul li a:hover {
     color: #ff2e5b;
 }

 /* Sección de Contacto */
 .contact {
     margin: 30px 20px;
 }

 .contact h2 {
     font-size: 1.5rem;
     margin-bottom: 20px;
 }

 .contact p {
     font-size: 1rem;
     margin-bottom: 10px;
 }

 .contact button {
     padding: 10px 20px;
     background-color: #00b1c7;
     color: #fff;
     font-weight: bold;
     border: none;
     cursor: pointer;
     border-radius: 5px;
     transition: background-color 0.3s;
 }

 .contact button:hover {
     background-color: #ff2e5b;
 }

 /* Footer */
 footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: #454546;
     color: #cdc1c1;
     height: 20vh;
 }

 .bx-foot-info {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 10px;
 }

 .bx-social {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 5%;
     font-size: 10px;
 }

 .bx-social a,
 .bx-social svg {
     color: gray;
     transition: all 400ms;
 }

 .bx-social svg:hover {
     transform: scale(1.2);
 }

 @media screen and (max-height: 1000px) {
     .bx-wel {
         margin-top: 2%;
     }
 }

 @media screen and (max-height: 800px) {
     .bx-wel {
         margin-top: 0;
     }

     nav ul li a div img {
         width: 32%;
     }
 }

 @media screen and (max-height: 640px) {
     header {
         height: 40vh;
     }

     nav {
         bottom: 50%;
     }
 }

 @media screen and (max-height: 580px) {
     header {
         padding: 5px 20px;
     }

     nav {
         bottom: 45%;
     }

     nav ul li a {
         height: 21vh;
     }
 }

 @media screen and (max-height: 420px) {
     nav ul li a div img {
         width: 22%;
     }

     nav ul li a div h6 {
         font-size: 12px;
     }
 }

 @media screen and (max-height: 1370px) and (max-width: 780px) {
     .container {
         margin-top: 20%;
     }
 }

 /* Tabla */
 .widget-26 {
     color: #3c4142;
     font-weight: 400;
 }

 .widget-26 tr:first-child td {
     border: 0;
 }

 .widget-26 .widget-26-job-emp-img img {
     width: 35px;
     height: 35px;
     border-radius: 50%;
 }

 .widget-26 .widget-26-job-title {
     min-width: 200px;
 }

 .widget-26 .widget-26-job-title a {
     font-weight: 400;
     font-size: 0.875rem;
     color: #3c4142;
     line-height: 1.5;
 }

 .widget-26 .widget-26-job-title a:hover {
     color: #68CBD7;
     text-decoration: none;
 }

 .widget-26 .widget-26-job-title .employer-name {
     margin: 0;
     line-height: 1.5;
     font-weight: 400;
     color: #3c4142;
     font-size: 0.8125rem;
     color: #3c4142;
 }

 .widget-26 .widget-26-job-title .employer-name:hover {
     color: #68CBD7;
     text-decoration: none;
 }

 .widget-26 .widget-26-job-title .time {
     font-size: 12px;
     font-weight: 400;
 }

 .widget-26 .widget-26-job-info {
     min-width: 100px;
     font-weight: 400;
 }

 .widget-26 .widget-26-job-info p {
     line-height: 1.5;
     color: #3c4142;
     font-size: 0.8125rem;
 }

 .widget-26 .widget-26-job-info .location {
     color: #3c4142;
 }

 .widget-26 .widget-26-job-salary {
     min-width: 70px;
     font-weight: 400;
     color: #3c4142;
     font-size: 0.8125rem;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 5vh;
 }
 .widget-26 .widget-26-job-salary i{
    font-size: 27px;
 }
 .widget-26 .widget-26-job-category {
     padding: .5rem;
     display: inline-flex;
     white-space: nowrap;
     border-radius: 15px;
 }

 .widget-26 .widget-26-job-category .indicator {
     width: 13px;
     height: 13px;
     margin-right: .5rem;
     float: left;
     border-radius: 50%;
 }

 .widget-26 .widget-26-job-category span {
     font-size: 0.8125rem;
     color: #3c4142;
     font-weight: 600;
 }

 .widget-26 .widget-26-job-starred svg {
     width: 20px;
     height: 20px;
     color: #fd8b2c;
 }

 .widget-26 .widget-26-job-starred svg.starred {
     fill: #fd8b2c;
 }

 .bg-soft-base {
     background-color: #e1f5f7;
 }

 .bg-soft-warning {
     background-color: #fff4e1;
 }

 .bg-soft-success {
     background-color: #d1f6f2;
 }

 .bg-soft-danger {
     background-color: #fedce0;
 }

 .bg-soft-info {
     background-color: #d7efff;
 }


 .search-form {
     width: 80%;
     margin: 0 auto;
     margin-top: 1rem;
 }

 .search-form input {
     height: 100%;
     background: transparent;
     border: 0;
     display: block;
     width: 100%;
     padding: 1rem;
     height: 100%;
     font-size: 1rem;
 }

 .search-form select {
     background: transparent;
     border: 0;
     padding: 1rem;
     height: 100%;
     font-size: 1rem;
 }

 .search-form select:focus {
     border: 0;
 }

 .search-form button {
     height: 100%;
     width: 100%;
     font-size: 1rem;
 }

 .search-form button svg {
     width: 24px;
     height: 24px;
 }

 .search-body {
     margin-bottom: 1.5rem;
 }

 .search-body .search-filters .filter-list {
     margin-bottom: 1.3rem;
 }

 .search-body .search-filters .filter-list .title {
     color: #3c4142;
     margin-bottom: 1rem;
 }

 .search-body .search-filters .filter-list .filter-text {
     color: #727686;
 }

 .search-body .search-result .result-header {
     margin-bottom: 2rem;
 }

 .search-body .search-result .result-header .records {
     color: #3c4142;
 }

 .search-body .search-result .result-header .result-actions {
     text-align: right;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .search-body .search-result .result-header .result-actions .result-sorting {
     display: flex;
     align-items: center;
 }

 .search-body .search-result .result-header .result-actions .result-sorting span {
     flex-shrink: 0;
     font-size: 0.8125rem;
 }

 .search-body .search-result .result-header .result-actions .result-sorting select {
     color: #68CBD7;
 }

 .search-body .search-result .result-header .result-actions .result-sorting select option {
     color: #3c4142;
 }

 @media (min-width: 768px) and (max-width: 991.98px) {
     .search-body .search-filters {
         display: flex;
     }

     .search-body .search-filters .filter-list {
         margin-right: 1rem;
     }
 }

 .card-margin {
     margin-bottom: 1.875rem;
 }

 @media (min-width: 992px) {
     .col-lg-2 {
         flex: 0 0 16.66667%;
         max-width: 16.66667%;
     }
 }

 .card-margin {
     margin-bottom: 1.875rem;
 }

 .card {
     border: 0;
     box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
     -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
     -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
     -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
 }

 .card {
     position: relative;
     display: flex;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #ffffff;
     background-clip: border-box;
     border: 1px solid #e6e4e9;
     border-radius: 8px;
 }

 .indicator-wrap {
     display: flex;
     align-items: center;
 }

 .table-options-bar button {
     background: none;
     border: none;
     cursor: pointer;
 }

 #editButton {
     color: #4b4d04;
 }

 #deleteButton {
     color: rgb(243, 76, 76);
 }

 .bx-inp-inf .col {
     margin: 2% 0;
 }

 .bx-reg-file input,
 #pordescu {
     width: inherit;
 }