body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../IMG/Fondo2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.logo{
    margin-left: 70%;
    margin-top: 19%;
    position: fixed;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    margin-top: 5%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
.account-section {
    margin-top: 30px;
}
.account-section h2 {
    margin-bottom: 10px;
}
.account-section p {
    line-height: 1.5;
}
.settings-form {
    margin-top: 20px;
}
.settings-form label {
    display: block;
    margin-bottom: 5px;
}
.settings-form input[type="text"],
.settings-form input[type="email"],
.settings-form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.settings-form input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.settings-form input[type="submit"]:hover {
    background-color: #0056b3;
}
