body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #b83b3be5;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.filtros {
    padding: 20px;
    text-align: center;
}

.recursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.recurso {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recurso h3 {
    margin-top: 0;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #c72e29;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #ce2222;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
iframe{
    margin-left: 70px;
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
}