@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

body {
    background: #d0d0d069;
    overflow: auto !important;
    padding: 0;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background: rgb(225, 75, 47);
    background: linear-gradient(112deg, rgba(225, 75, 47, 1) 0%, rgba(233, 105, 74, 1) 23%, rgba(240, 134, 100, 1) 64%, rgba(248, 164, 127, 1) 84%, rgba(255, 255, 255, 1) 100%);
    color: #fff;
    height: 18vh;
}

@media screen and (max-width:2000px) {
    header {
        height: 20vh;
    }
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1rem;
    margin-top: 10px;
}

.bx-opc-in a {
    text-decoration: none;
    color: #ffffff;
}

.bx-wel {
    margin-top: 0%;
}

.btn-pf-adm button {
    background: none;
    border: none;
}

.btn-pf-adm button:hover {
    background: none;
}

.btn-pf-adm ul {
    background: none;
    border: none;
}

.btn-pf-adm ul li a {
    border-radius: 7px;
}

.bx-opc-in a {
    text-decoration: none;
    color: #ffffff;
}

.dropdown-item.active,
.dropdown-item:active {
    background: #FFF;
    color: #000;
}

.dropdown-toggle {
    background: none;
}

.btn.show {
    background-color: #8c8d8d2e;
}

.btn.show,
.btn:first-child:active {
    background-color: #8c8d8d2e;
}

main {
    background: #ebebeb;
    min-height: 100%;
}

.container-fluid {
    padding: 2% 0;
}

.bx-slider {
    position: fixed;
    padding: 1%;
    margin: 0 2%;
    border-radius: 10px;
    background: #fff;
    /* -webkit-box-shadow: 2px -2px 38px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px -2px 38px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 2px -2px 38px -16px rgba(0, 0, 0, 0.75); */
}

.bx-apartados {
    position: relative;
    left: 21%;
    padding: 5% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #FFF;
    /* -webkit-box-shadow: 2px -2px 38px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px -2px 38px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 2px -2px 38px -14px rgba(0, 0, 0, 0.75); */
}

.bx-init {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bx-init img {
    width: 100%;
    margin: 10% 0;
}

#bx-init_p-1 {
    text-align: center;
}

#bx-init_p-2 {
    font-weight: bold;
}

table .td-config {
    text-align: center;
}

table .td-options {
    display: flex;
    gap: 14%;
    align-items: center;
    justify-content: center;
}

#formven input,
#formven textarea,
#formven select {
    border: none;
    background: #e9e9e9;
    padding: 3%;
    border-radius: 7px;
    resize: none;
}

#formven input,
#formven textarea,
#formven select:focus {
    outline: none;
}

#formven .row {
    margin: 3% 0;
}

.bx-subm .col {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#formven .bx-subm .col input {
    background: #ff5151;
    color: #FFF;
}

#formven .row .col i {
    font-size: 11px;
}

.bx-subprd {
    width: 100%;
}

.bx-subprd h5 {
    text-align: center;
}

.bx-subprd_valor .col {
    display: flex;
    flex-direction: column;
}

.marco {
    outline: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 2%;
    -webkit-box-shadow: 0px 1px 10px -3px rgb(0 0 0 / 32%);
    -moz-box-shadow: 0px 1px 10px -3px rgb(0 0 0 / 32%);
    box-shadow: 0px 1px 10px -3px rgb(0 0 0 / 32%);
}

.bx-subm .col p {
    margin: 0;
    font-size: 12px;
}

#descar input {
    margin: 1% 0;
}

.btn-del {
    background: none;
    border: none;
}

#formven #orden-imagenes .btn-del i {
    font-size: 16px;
    color: palevioletred;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #454546;
    color: #cdc1c1;
    height: 20vh;
}

.bx-foot-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.bx-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    font-size: 10px;
}

.bx-social a,
.bx-social svg {
    color: gray;
    transition: all 400ms;
}

.bx-social svg:hover {
    transform: scale(1.2);
}

/* Almacén */
.widget-26 {
    color: #3c4142;
    font-weight: 400;
}

.widget-26 tr:first-child td {
    border: 0;
}

.widget-26 .widget-26-job-emp-img img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.widget-26 .widget-26-job-title {
    min-width: 200px;
}

.widget-26 .widget-26-job-title a {
    font-weight: 400;
    font-size: 0.875rem;
    color: #3c4142;
    line-height: 1.5;
}

.widget-26 .widget-26-job-title a:hover {
    color: #68CBD7;
    text-decoration: none;
}

.widget-26 .widget-26-job-title .employer-name {
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
    color: #3c4142;
    font-size: 0.8125rem;
    color: #3c4142;
}

.widget-26 .widget-26-job-title .employer-name:hover {
    color: #68CBD7;
    text-decoration: none;
}

.widget-26 .widget-26-job-title .time {
    font-size: 12px;
    font-weight: 400;
}

.widget-26 .widget-26-job-info {
    min-width: 100px;
    font-weight: 400;
}

.widget-26 .widget-26-job-info p {
    line-height: 1.5;
    color: #3c4142;
    font-size: 0.8125rem;
}

.widget-26 .widget-26-job-info .location {
    color: #3c4142;
}

.widget-26 .widget-26-job-salary {
    min-width: 70px;
    font-weight: 400;
    color: #3c4142;
    font-size: 0.8125rem;
}

.widget-26 .widget-26-job-category {
    padding: .5rem;
    display: inline-flex;
    white-space: nowrap;
    border-radius: 15px;
}

.widget-26 .widget-26-job-category .indicator {
    width: 13px;
    height: 13px;
    margin-right: .5rem;
    float: left;
    border-radius: 50%;
}

.widget-26 .widget-26-job-category span {
    font-size: 0.8125rem;
    color: #3c4142;
    font-weight: 600;
}

.widget-26 .widget-26-job-starred svg {
    width: 20px;
    height: 20px;
    color: #fd8b2c;
}

.widget-26 .widget-26-job-starred svg.starred {
    fill: #fd8b2c;
}

.bg-soft-base {
    background-color: #e1f5f7;
}

.bg-soft-warning {
    background-color: #fff4e1;
}

.bg-soft-success {
    background-color: #d1f6f2;
}

.bg-soft-danger {
    background-color: #fedce0;
}

.bg-soft-info {
    background-color: #d7efff;
}


.search-form {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
}

.search-form input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 1rem;
    height: 100%;
    font-size: 1rem;
}

.search-form select {
    background: transparent;
    border: 0;
    padding: 1rem;
    height: 100%;
    font-size: 1rem;
}

.search-form select:focus {
    border: 0;
}

.search-form button {
    height: 100%;
    width: 100%;
    font-size: 1rem;
}

.search-form button svg {
    width: 24px;
    height: 24px;
}

.search-body {
    margin-bottom: 1.5rem;
}

.search-body .search-filters .filter-list {
    margin-bottom: 1.3rem;
}

.search-body .search-filters .filter-list .title {
    color: #3c4142;
    margin-bottom: 1rem;
}

.search-body .search-filters .filter-list .filter-text {
    color: #727686;
}

.search-body .search-result .result-header {
    margin-bottom: 2rem;
}

.search-body .search-result .result-header .records {
    color: #3c4142;
}

.search-body .search-result .result-header .result-actions {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-body .search-result .result-header .result-actions .result-sorting {
    display: flex;
    align-items: center;
}

.search-body .search-result .result-header .result-actions .result-sorting span {
    flex-shrink: 0;
    font-size: 0.8125rem;
}

.search-body .search-result .result-header .result-actions .result-sorting select {
    color: #68CBD7;
}

.search-body .search-result .result-header .result-actions .result-sorting select option {
    color: #3c4142;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .search-body .search-filters {
        display: flex;
    }

    .search-body .search-filters .filter-list {
        margin-right: 1rem;
    }
}

.card-margin {
    margin-bottom: 1.875rem;
}

@media (min-width: 992px) {
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}

.card-margin {
    margin-bottom: 1.875rem;
}

.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}

.indicator-wrap {
    display: flex;
    align-items: center;
}

.table-options-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

#editButton {
    color: #4b4d04;
}

#deleteButton,
#deleteButton2 {
    color: rgb(243, 76, 76);
}

.bx-inp-inf .col {
    margin: 2% 0;
}

.bx-reg-file input,
#pordescu {
    width: inherit;
}

/*PQRs Prv*/


.pqr-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
}

.section-title {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.table-container {
    display: flex;
    position: relative;
    width: 70%;
    justify-content: center;
}

.pqr-section table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f9f9f9;
}

.pqr-section table th,
.pqr-section table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.pqr-section table th {
    background-color: #e0e0e0;
}

.respond-button,
.new-pqr-button,
.profile-button,
.logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    /* Efecto suave */
}

/* Efecto hover */
.respond-button:hover,
.new-pqr-button:hover,
.profile-button:hover,
.logout-button:hover {
    background-color: darkred;
    /* Cambia a un rojo más oscuro */
    transform: scale(1.05);
    /* Aumenta ligeramente el tamaño */
}

/* Botón específico: "Realizar PQR" */
.new-pqr-button {
    position: absolute;
    right: -120px;
    top: 20px;
}

.new-pqr-button:hover {
    background-color: #c40000;
    /* Cambia a un rojo diferente */
}

/*proveedor*/
.bx-reg-prv {
    height: 100%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
}

#proveedorForm label {
    font-size: 34px;
}

#proveedorForm input {
    /* border-radius: 5px; */
    border: none;
    width: auto;
    font-size: 24px;
    margin-left: 26px;
    border-bottom: 1px solid;
    background: transparent;
    /* height: 40px;*/
}

#proveedorForm input:focus {
    outline: none;
}

#proveedorForm textarea {
    resize: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    font-size: 24px;
    margin-left: 26px;
}

#proveedorForm textarea:focus {
    outline: none;
}

.line-1 {
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 13em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

#step2 {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.title-items-panel {
    text-align: center;
}

.bx-st-ped .bx-st-ped_st {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.bx-st-ped .bx-st-ped_st div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formCargaMasiva .modal-footer {
    display: flex;
    justify-content: space-between;
}

#formCargaMasiva p,
#formCargaMasiva .lbconfirmInd {
    font-size: 14px;
}

#imagenesContainer {
    padding: 4%;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    background: #e7e7e773;
}

#imagenesContainer input {
    margin: 3% 0;
}

/* Estilo para el asterisco rojo */
.lbconfirmInd::after {
    content: " *";
    color: red;
    font-weight: bold;
}

/* Borde rojo cuando el input está deshabilitado */
#archivo-excel:disabled {
    background-color: #f8d7da;
}

.bx-conf-pef,
.bx-conf-pef-bx {
    flex-wrap: wrap;
    gap: 3%;
    margin: 2% 0;
}

.bx-conf-pef .bx-conf-pef-item {
    min-height: 10vh;
    display: flex;
    align-items: center;
    border: 1px solid #c9c5c580;
    border-radius: 5px;
    background: #fff;
    margin: 1% 0;
    text-decoration: none;
    color: #000;
}

.bx-conf-pef .bx-conf-pef-item h5 {
    font-size: 18px;
    font-weight: 400;
}

.bx-conf-pef-ini {
    min-height: 12vh;
    border: 1px solid #d9d8d8;
    background: #fbfbfb;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bx-conf-pef-ini .circle {
    display: flex;
    height: 5vh;
    border-radius: 50%;
    background: #dfdfdf;
    justify-content: center;
    align-items: center;
}

.bx-conf-pef-ini .circle p {
    font-size: 22px;
    margin: 0;
}

.bx-conf-pef-ini .nombre {
    text-align: center;
}

.bx-conf-pef-ini .nombre p {
    font-size: 12px;
    font-weight: 300;
}

.bx-conf-pef-prin {
    display: flex;
    align-content: space-between;
    min-height: 50vh;
}

.bx-conf-pef-prin #contenido {
    margin: 5% 0;
}

.bx-conf-pef-prin #contenido .btn-vol-pf {
    margin: 0 0 2%;
    padding: 0;
    border-radius: 0;
    font-size: 18px;
    font-weight: 400;
}

.bx-conf-pef-prin #contenido .btn-vol-pf:active {
    border: none;
}

.bx-conf-pef-prin #contenido .btn-vol-pf:hover {
    border-bottom: 1px solid;
}

.bx-content-pf {
    background: #fff;
    padding: 2%;
    border-radius: 7px;
}

#contenido .form-conf-pef {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#contenido .form-conf-pef input{
    border: none;
    border-bottom: 1px solid #bdbbbb;
    margin: 1% 0;
    padding: 1% 0.5%;
    width: 35%;
}
#contenido .form-conf-pef input:focus-visible{
    outline: none;
}
#contenido .form-conf-pef textarea{
    resize: none;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    padding: 1%;
    margin: 2% 0px;
    width: 35%;
}
#contenido .form-conf-pef textarea:focus-visible{
    outline: none;
}
#contenido .form-conf-pef button {
    position: initial;
    width: auto;
    height: auto;
}